biopython==1.73
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
DateTime==4.3
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.16.4
pandas==0.24.2
pandas-flavor==0.1.2
patsy==0.5.1
plotly==4.0.0
plotly-express==0.4.0
psutil==5.6.3
pyjanitor==0.17.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
retrying==1.3.3
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
six==1.12.0
statsmodels==0.10.1
urllib3==1.25.3
xlrd==1.2.0
zope.interface==4.6.0
